<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Squadpage</title>
    <link rel="stylesheet" href="../style.css"> 
    <script src="../scripts.js" defer></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Protest+Revolution&family=Rubik+Bubbles&family=Rubik+Glitch+Pop&display=swap" rel="stylesheet">
  </head>

  <body>  
    <header>
      <h1>Squad D</h1>
      <p>meet the students</p>
    </header>

   